body {
    
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
    
    
}
html{
    background: linear-gradient(45deg, #b9cce4, #01203c);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.clouds {
    
    background: url('clud_7.png') repeat-x;
    background-size: contain; /* Ajusta o tamanho da imagem */
    animation: moveClouds 30s linear infinite;
    height: 100%;
    margin: 0;
    width: 100%;
}
@keyframes moveClouds {
    from { background-position: 0 0; }
    to { background-position: -1000px 0; }
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}



.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px 0;
    background-color: #333333;
    border-radius: 10px;
}

.login-container:hover {
    box-shadow: 0 0 10px 0  #ff9900;
    
}
.login-input {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #555555;
    border-radius: 5px;
    background-color: #1a1a1a;
    color: #ffffff;
}
.login-button {
    width: 80px;
    padding: 10px;
    background-color: #ff9900;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
        }
button:hover{
    box-shadow: 0 0 3px 5px rgba(255, 153, 0, 0.7); /* Adiciona um brilho laranja */
}



.register-button{
    width: 80px;
    padding: 10px;
    background-color: #ff9900;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    margin-right: 10px;
}

.register-button a{
    text-decoration: none;
    color: #ffffff;
}



.disabled_button{
    pointer-events: none !important;
    opacity: 0.6 !important;
}



