
    <!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPGenda - Página de Login</title>
    {% load static %}
    <link rel="stylesheet"  href="{% static 'css/login_style.css' %}">
    <link rel="stylesheet"  href="{% static 'css/meidaQuery.css' %}">
    
</head>
<body class="clouds">
    <div class="container">

    
        <div class="login-container">
            <h1>RPGenda</h1>

            {% block content %}


            {% endblock %}

            {% for menssage in messages %}
            <p>  <strong>Erro! </strong> {{ menssage }} </p>
            {% endfor %}
        </div>

    
        
</div>

{% load static %}
<script src="{% static 'js/login.js' %}"></script>
<script src="{% static 'js/register.js' %}"></script>
</body>
</html>

